<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<title>Gestion des Produit</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="../static/css/style.css"
	th:href="@{css/style.css}" />
</head>
<body>
	<header>
		<div class="navbar navbare-default">
			<div class="container-fluid">
				<ul class="nav navbar-nav">
					<li><a th:href="@{/index}">Chercher</a></li>
					<li><a th:href="@{/form}">Chercher</a></li>
				</ul>
			</div>
		</div>
	</header>
	<section layout:fragment="content"></section>
	<footer>
		<div class="navbar-fixed-bottom">
			<hr />
			<div class="container">
				<small> Copyright @2018 </small>
			</div>
		</div>
	</footer>
</body>
</html>
